.burger-menu-hidden {
  display: none;
}

.burger-menu__button {
  position: absolute;
  background: url('../../images/burger-menu-button.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  top: 15px;
  right: 0;
}

.burger-menu__button:hover {
  opacity: 0.5;
  transition: .2s ease-in-out;
}

.burger-menu__content {
  display: none;
}

.burger-menu__content-active {
  display: flex;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.burger-menu__close-button {
  width: 30px;
  height: 50px;
  position: absolute;
  top: 13px;
  right: 23px;
  z-index: 1;
  cursor: pointer;
}

.burger-menu__close-button:hover {
  opacity: 0.5;
  transition: .2s ease-in-out;
}

.burger-menu__navigation {
  background-color: #fff;
  height: 100%;
  position: absolute;
  width: 520px;
  right: 0;
  top: 0;
}

.burger-menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 159px;
}

.burger-menu__list-item {
  margin-bottom: 28px;
}

.burger-menu__list-item:hover {
  opacity: 0.5;
  transition: .2s ease-in-out;
}

.burger-menu__list-item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #000000;
}

.burger-menu__list-item-text-active {
  border-bottom: 1px solid black;
}

.burger-menu__list-item-account {
  padding: 6px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 50px;
  margin-top: 380px;
}

.burger-menu__list-item-account-img {
  width: 12px;
  height: 14px;
  margin-right: 7px;
}

.burger-menu__list-item-account-text {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.burger-menu__list-item-account:hover {
  opacity: 0.6;
  transition: .2s ease-in-out;
}

@media screen and (min-width: 770px) {
  .burger-menu  {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .burger-menu__navigation {
    width: 100%;
  }

  .burger-menu__close-button {
    top: 4px;
    right: 14px;
  }

  .burger-menu__list {
    margin-top: 145px;
  }

  .burger-menu__list-item {
    margin-bottom: 24px;
  }

  .burger-menu__list-item-account {
    margin-top: 419px;
  }
}