.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text {
  width: 89%;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 20px;
}

.footer__container {
  width: 89%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__nav-list {
  list-style: none;
  display: flex;
}

.footer__nav-list-item {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__nav-list-item:hover {
  opacity: 0.6;
  transition: .2s ease-in-out;
}

.footer__nav-list-item:first-of-type {
  margin-right: 20px;
}

.footer__nav-list-item-link {
  text-decoration: none;
  color: #000000;
}

@media screen and (max-width: 769px) {
  .footer__container {
    width: 92%;
  }
}

@media screen and (max-width: 450px) {
  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 30px;
  }

  .footer__copyright {
    margin-top: 30px;
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
  }

  .footer__nav-list {
    flex-direction: column;
    align-items: center;
  }

  .footer__nav-list-item {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__nav-list-item:first-of-type {
    margin: 0 0 12px 0;
  }
}