.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__container {
  padding: 70px 0;
}

.login__logo {
  width: 38px;
  height: 38px;
}

.login__title {
  margin-top: 37px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.login__form {
  margin-top: 40px;
}

.login__fieldset {
  border: none;
  width: 100%;
  margin: 0;
}

.login__input {
  margin-bottom: 20px;
}

.login__input-name {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;
  margin-bottom: 10px;
}

.login__input-item {
  border: none;
  background-color: #F9F9F9;
  border-radius: 8px;
  width: 96%;
  padding: 15px 0 15px 15px;
}

.login__button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background: #3456F3;
  border-radius: 3px;
  border: none;
  color: #FFFFFF;
  padding: 13px 124px;
  margin-top: 160px;
  width: 396px;
}

.login__signup {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #A0A0A0;
  margin-top: 17px;
  text-align: center;
}

.login__signup-link {
  color: #3456F3;
  text-decoration: none;
}

@media screen and (max-width: 769px) {
  .login__container {
    padding: 232px 0;
  }
}

@media screen and (max-width: 445px) {
  .login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0 30px;
  }

  .login__title {
    margin-top: 50px;
  }

  .login__form {
    margin-top: 80px;
  }

  .login__button {
    font-size: 12px;
    line-height: 15px;
    width: 260px;
    padding: 15px 68px;
    margin-top: 249px;
  }

  .login__signup {
    font-size: 12px;
    line-height: 15px;
    margin-top: 14px;
  }
}